#cards {
  position: relative;
  display: flex;
  flex-flow: row wrap;

  padding: 15px;

  gap: 10px;

  margin: 20px auto;

  width: 100%;
  max-width: 940px;
  min-width: 300px;

  border-radius: 10px;

  &:hover > .card::after {
    opacity: 1;
  }
}