:root {
  --accent-color: #c6ff00;
  --accent-color-75: rgba(198, 255, 0, 75%);
  --accent-color-50: rgba(198, 255, 0, 50%);
  --accent-color-25: rgba(198, 255, 0, 25%);

  --light-accent: #e4ffb4;

  --primary-color: rgb(18, 175, 131);
  --primary-color-75: rgba(8, 175, 131, 75%);
  --primary-color-50: rgba(8, 175, 131, 50%);
  --primary-color-25: rgba(8, 175, 131, 25%);

  --secondary-color: rgb(206, 95, 255);
  --secondary-color-75: rgba(206, 95, 255, 75%);
  --secondary-color-50: rgba(206, 95, 255, 50%);
  --secondary-color-25: rgba(206, 95, 255, 25%);

  --text-color: hsl(352, 15%, 70%);
  --bg-color: hsl(204, 42%, 15%);
  --bg-color-2: hsl(204, 42%, 10%);

}