:root {
  --text: hsl(230, 31%, 90%);
  --text-dark: hsl(230, 20%, 75%);
  --text-very-dark: hsl(230, 20%, 50%);

  --background-dark: hsl(230, 24%, 5%);
  --background-dark-75: hsla(230, 24%, 5%, 75%);
  --background-dark-50: hsla(230, 24%, 5%, 50%);
  --background-dark-25: hsla(230, 24%, 5%, 25%);

  --background-light: hsl(230, 31%, 11%);
  --background-light-75: rgba(20, 23, 38, 75%);
  --background-light-50: rgba(20, 23, 38, 50%);
  --background-light-35: rgba(20, 23, 38, 35%);
  --background-light-25: rgba(20, 23, 38, 25%);
  --background-light-05: rgba(20, 23, 38, 5%);

  --foreground: hsl(230, 31%, 31%);
  --foreground-75: rgba(55, 63, 104, 75%);
  --foreground-50: rgba(55, 63, 104, 50%);
  --foreground-25: rgba(55, 63, 104, 25%);

  --foreground-dark: hsl(230, 31%, 21%);

  --accent: hsl(191, 52%, 30%);
  --accent-75: hsla(191, 52%, 30%, 75%);
  --accent-50: hsla(191, 52%, 30%, 50%);
  --accent-25: hsla(191, 52%, 30%, 25%);
  --accent-10: hsla(191, 52%, 30%, 10%);
  --accent-05: hsla(191, 52%, 30%, 5%);

  --complement: hsl(276, 56%, 29%);
  --complement-75: hsla(276, 56%, 29%, 75%);
  --complement-50: hsla(276, 56%, 29%, 50%);
  --complement-25: hsla(276, 56%, 29%, 25%);
  --complement-10: hsla(276, 56%, 29%, 10%);
  --complement-05: hsla(276, 56%, 29%, 5%);

  --error: hsl(16, 100%, 50%);
  --error-75: hsla(16, 100%, 50%, 75%);
  --error-50: hsla(16, 100%, 50%, 50%);
  --error-25: hsla(16, 100%, 50%, 25%);

  --border-radius: 10px;
  --capsule-radius: 500px;

  --width-breakpoint: 430px;

  --font-size-large: 1.1rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.9rem;
}

$width-breakpoint: 700px;