@import "vars";
@import "fonts";
@import "background";
@import "inputs";

:root {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: dark;
  color: var(--text);
  background-color: var(--background-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
  -webkit-user-drag: none !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden scroll;

  margin: 0;
  padding: 0;

  height: 100vh;

  background-color: var(--background-dark);
}

a.fancy-link {
  text-decoration: none;
  color: var(--accent);

  padding-left: 5px;
  padding-right: 5px;

  border-radius: 25%;
  background-color: var(--background-dark-25);

  transition: all 0.25s ease;

  cursor: pointer;

  overflow: hidden;

  &:hover {
    text-shadow: 0 0 15px var(--complement);
    color: var(--complement);
    background-color: var(--background-dark-50);
    border-radius: var(--border-radius);

    box-shadow: 5px 5px 10px var(--background-dark-50), -0px -0px 10px var(--background-dark-50);
  }
}

a:not(.fancy-link) {
  text-decoration: none;
  color: var(--text);

  padding-left: 5px;
  padding-right: 5px;

  border-radius: var(--border-radius);
  background-color: var(--background-dark-50);

  transition: all 0.25s ease;

  cursor: pointer;

  &:hover {
    text-shadow: 0 0 15px var(--complement);
    color: var(--complement);
    background-color: var(--background-dark-75);
  }
}

.text-section {
  display: flow;
  margin: 50px auto auto;

  width: 100%;
  max-width: 920px;

  border-radius: var(--border-radius);

  transition: all 0.25s 0s ease;
}

.text-section-heading {
  margin: 0 5px 5px;
}

.text-section-text {
  margin: 5px 5px 0;
}

.page-container {
  display: flow;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  //background: url("../../../public/background.jpg");
}

.top {
  display: flow;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0;
  padding: 0;

  width: 100vw;
  height: 400px;

  //background: url("../../../public/background.jpg");
  //background-color: var(--shadow);
}

.background-credit-text {
  margin: 0;
}

.bottom {
  display: flow;
  justify-content: center;
  align-items: center;
  text-align: left;

  margin: 0;
  padding: 0;

  width: 100%;
  bottom: 0;

  border-top-left-radius: 150px;
  border-top-right-radius: 150px;

  border-top: 5px dashed var(--accent);

  background-color: var(--background-light);
}

.bottom-content {
  display: flow;
  justify-content: center;
  align-items: center;
  text-align: left;

  margin: auto;

  width: fit-content;
  max-width: var(--content-width);

  color: var(--text);

  & {
    @media (max-width: $width-breakpoint) {
      width: 90%;
    }
  }
}

.profile-image-container {
  z-index: 1;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: -150px auto auto;

  width: 350px;
  aspect-ratio: 1/1;

  border-radius: 50%;
  background-color: var(--background-light);

  & {
    @media (max-width: $width-breakpoint) {
      scale: 0.75;
    }
  }
}

.profile-image {
  display: block;

  width: 85%;
  aspect-ratio: 1/1;

  border-radius: inherit;
  border: 5px solid var(--accent);

  box-shadow: 2px 4px 10px var(--background-dark), -0px -0px 10px var(--background-dark);

  transition: all 0.25s ease;

  cursor: pointer;

  &:hover {
    box-shadow: 5px 10px 10px var(--background-dark), -0px -0px 10px var(--background-dark);
    transform: translateY(-5px);
    scale: 1.05;
  }

  &.do-profile-spin {
    animation: profile-spin 1s ease;
  }
}

@keyframes profile-spin {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}

svg {
  fill: currentColor;
  margin: auto;
  width: inherit;
  height: inherit;
}

.transparent {
  opacity: 0;
}