.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;

  text-align: center;

  margin: 100px auto;

  padding: 30px;

  width: fit-content;

  background-color: var(--background-light);
}

.footer__button {
  all: unset;

  position: relative;
  display: flex;
  margin: auto;

  width: 40px;
  height: 40px;

  border-radius: inherit;

  color: var(--text-very-dark);

  cursor: pointer;
  user-select: none;

  text-align: left;
  transition: all 0.25s ease;

  &:hover {
    color: var(--text-dark);
  }
}

.copyright {
  color: var(--text-very-dark);
}