@import "../../stylesheets/fonts";
@import "../../stylesheets/vars";

.links-content-container {
  all: inherit;
  width: 600px;

  & {
    @media (max-width: $width-breakpoint) {
      width: 100%;
    }
  }
}

.links__footer {
  height: 50vh;
}