@import "../../../stylesheets/vars";

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;

  overflow: hidden;

  margin: 200px auto 0;

  width: 25%;
  min-width: 200px;

  & {
    @media (max-width: 2060px) {
      margin: 200px auto 0;
      width: 50%;
    }
    @media (max-width: 1080px) {
      margin: 200px auto 0;
      width: 75%;
    }
    @media (max-width: $width-breakpoint) {
      margin: 400px auto 0;
      width: 90%;
    }
  }
}